@import "tailwindcss";

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/src/assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Ajout de ta nouvelle police pour les titres */
@font-face {
  font-family: 'DFP_GBZY9';
  src: url('/src/assets/fonts/DFP_GBZY9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-vcr: 'VCR OSD Mono', monospace;
  --font-sans: 'VCR OSD Mono', ui-sans-serif, system-ui, sans-serif;
  --font-dfp: 'DFP_GBZY9', sans-serif;


}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Application de l'animation */
.animate-slide-right {
  opacity: 0;
  animation: slide-right 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


html {
  scroll-behavior: smooth;
}
