@import "tailwindcss";

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/src/assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Ajout de ta nouvelle police pour les titres */
@font-face {
  font-family: 'DFP_GBZY9';
  src: url('/src/assets/fonts/DFP_GBZY9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-vcr: 'VCR OSD Mono', monospace;
  --font-sans: 'VCR OSD Mono', ui-sans-serif, system-ui, sans-serif;
  --font-dfp: 'DFP_GBZY9', sans-serif;
}

html {
  scroll-behavior: smooth;
}
