@import "tailwindcss";

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/src/assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'DFPT_ZY9';
  src: url('@/assets/fonts/DFPT_ZY9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Laira';
  src: url('@/assets/fonts/Laira.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@theme {
  --font-vcr: 'VCR OSD Mono', monospace;
  --font-sans: 'VCR OSD Mono', ui-sans-serif, system-ui, sans-serif;


  --font-title: 'Laira'
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Application de l'animation */
.animate-slide-right {
  opacity: 0;
  animation: slide-right 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


html {
  scroll-behavior: smooth;
}
